header.header
	.container
		.row
			.content
				a.logo-block(href="index.html")
					img(src="img/logo.svg", alt="")
				nav
					ul
						li
							.logo-block-mobile.d-block.d-lg-none
								img(src="img/logo.svg", alt="")
						li.active
							a(href="#") О компании
						li
							a(href="practices.html") Практики
						li
							a(href="projects.html") Проекты
						li
							a(href="crew.html") Команда
						li
							a(href="#") Карьера
						li
							a(href="news.html") Новости
						li
							a(href="#") Контакты
						li
							.language-block.d-flex.d-lg-none
								a(href="#") RU
								a(href="#") EN
				.burger-button.d-flex.d-lg-none
					span
