html(lang="en")
  include ../includes/head.pug
    title Команда
  body.crew-page
    section.crew-page-heading
      include ../includes/header.pug
    
      .breadcrumb-container.container.first-section
        .breadcrumb
          li.breadcrumb-item
            a(href="#") Главная
          li.breadcrumb-item Команда

    section.main-content
      .container
        .partners-block
          .title-container.main-title-container
            h1 Партнеры
          .crew-list.partners-list.d-flex
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            
        .corp-practice-list
          .title-container.list-title-container
            h2 Корпоративная практика
          .crew-list.practice-crew-list.d-flex
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер

        .realestate-practice-list
          .title-container.list-title-container
            h2 Практика недвижимости и ГЧП
          .crew-list.practice-crew-list.d-flex
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
            .person-card-container
              a.person-card.partner-card(href="crew-card.html")
                .img-container
                  img(src="img/avatar.jpg", alt="")
                  img(src="img/avatar2.jpg", alt="")
                .name Арбузов Александр
                .status Партнер
    
    include ../includes/footer.pug

    script(src="js/main.js")