html(lang="en")
  include ../includes/head.pug
    title Проекты
  body.projects-page
    section.projects-heading
      include ../includes/header.pug
    
      .breadcrumb-container.container.first-section
          .breadcrumb
            li.breadcrumb-item Проекты

    section.projects-list.d-flex
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_1.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_2.jpg", alt="")
        .content
          .type-title Проекты
          .item-title ЗСД
          .desc на сегодняшний день Западный Скоростной Диаметр (ЗСД) представляет собой крупный инвесторский проект, реализованный в Санкт-Петербурге
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_3.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item.layer-color-1(href="project-card.html")
        .img-container
          img(src="img/project_4.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Активный компонент
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_5.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item.layer-color-2(href="project-card.html")
        .img-container
          img(src="img/project_6.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_4.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Активный компонент
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item.layer-color-3(href="project-card.html")
        .img-container
          img(src="img/project_5.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_6.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item.layer-color-4(href="project-card.html")
        .img-container
          img(src="img/project_4.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Активный компонент
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item(href="project-card.html")
        .img-container
          img(src="img/project_5.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить
      a.project-item.layer-color-2(href="project-card.html")
        .img-container
          img(src="img/project_6.jpg", alt="")
        .content
          .type-title Проекты
          .item-title Партия еды
          .desc основная идея сервиса - доставка клиентам продуктов на пять ужинов для двоих, которые можно самостоятельно приготовить



    include ../includes/footer.pug

    script(src="js/main.js")