html(lang="en")
  include ../includes/head.pug
    title Карточка команды
  body.template-page
    section
      include ../includes/header.pug
    
      .breadcrumb-container.container.first-section
        .breadcrumb
          li.breadcrumb-item
            a(href="#") Главная
          li.breadcrumb-item Шаблон
    
    section.main
      .main-content
        .container
          h1 Главный заголовок
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae architecto officiis reiciendis qui! Cum, laborum necessitatibus optio quae exercitationem animi ratione voluptates iusto et neque. Aliquam cupiditate culpa, ducimus labore et enim explicabo ratione, provident beatae id corporis illo ut numquam odit, similique dolor iste distinctio. Odit totam quo iste ipsa accusantium veritatis ad ut reiciendis maiores! Hic magnam labore, dignissimos nostrum natus nulla explicabo, eum quas totam quos minima exercitationem. Recusandae quia adipisci fuga possimus nihil porro incidunt veniam ab qui, modi beatae reiciendis consequuntur vel! Quia optio tenetur aut earum laboriosam porro, molestias provident deserunt delectus voluptatibus.

    include ../includes/footer.pug

    script(src="js/main.js")